.projectsContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
        text-align: center;
    }
    .cardContainer{
        margin: auto;
        background-color: rgba(156, 218, 207, 0.719);
        height: 25em;
        width: 17em;
        border-radius: 15px;
    }
}